<div class="modal-header modal-lg">
    <h4 class="modal-title" id="modal-basic-title"> Actualizar Foto</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body text-center">


    <div class="card ">
        <div class="card-body">

            <div class="w400">
                <img *ngIf="!imagenTemporal" [src]=" 'xxxxx'|imagen" class="w400 img-circle">
                <img *ngIf="imagenTemporal" [src]="imagenTemporal" class="w400 img-circle">
            </div>
            <br>
            <br>
            <input type="file" id="file" (change)="seleccionImage($event.target.files[0])"><br>

        </div>
    </div>

    <div class="modal-footer">
        <button (click)="cambiarImagen(usuario)" type="button" class="btn btn-block btn-success waves-effect waves-light m-r10 ">Cambiar Foto </button>
        <button (click)="modal.dismiss('cancel click')" type="button" class="btn btn-block btn-danger waves-effect waves-light m-r10 ">Cerrar  </button>

    </div>


</div>